{% extends "base.html"%}
{% block title %}MindHeart Reader{% endblock %}
{% block scripts %}
<script src="{{url_for('mhreader.static', filename='radar-chart.js')}}"></script>
<script src="{{url_for('mhreader.static', filename='mhreader.js')}}"></script>
<script src="{{url_for('mhreader.static', filename='mindwave-charts.js')}}"></script>

<link rel="stylesheet" href="{{url_for('mhreader.static', filename='radar-chart.css')}}"/>
{% endblock %}

{% block body %}
<input type="hidden" id="mhreader-get-mindwave-data-url" value="{{url_for('mhreader.get_mindwave_data')}}"/>
<input type="hidden" id="mhreader-start-mindwave-url" value="{{url_for('mhreader.start_mindwave')}}"/>
<input type="hidden" id="mhreader-stop-mindwave-url" value="{{url_for('mhreader.stop_mindwave')}}"/>
<input type="hidden" id="mhreader-get-mindwave-status-url" value="{{url_for('mhreader.get_mindwave_status')}}"/>
<input type="hidden" id="mhreader-get-mindwave-data-map-url" value="{{url_for('mhreader.get_data_map')}}"/>
<h2> Home </h2>
<div id="control-buttons" class="btn-group btn-lg">
    <input type="button" class="btn  btn-success" id="btn-start-mindwave" onClick="startMindwave()" value="Start Mindwave"/>
    <input type="button" class="btn btn-danger" id="btn-stop-mindwave" onClick="stopMindwave()" value="Stop Mindwave"/>
    <input type="button" class="btn btn-info" id="btn-update-mindwave-data" onClick="loadDataCounter()" value="Update Data"/>
    <div class="input-group">
        <span class="input-group-addon">Limit</span>
        <input type="text" id='text-data-limit' class="form-control" value="20">
    </div>

</div>
<!--<ul>
<li><a href="startMindwave()">Start mindwave</a> </li>
<li><a href="{{url_for('mhreader.stop_mindwave')}}">Stop mindwave</a></li>

<li><a href="{{url_for('mhreader.start_mindwave')}}">Start mindwave</a> </li>
<li><a href="{{url_for('mhreader.stop_mindwave')}}">Stop mindwave</a></li>

</ul>-->
<div id="mhhreader-notification-panel">
    <h3>Mind Reader Status: </h3><label id="mhreader-mindwave-status"></label>
</div>
<div id="mindwave-chart-container"></div>
<div id="data-counter">

</div>
{% endblock %}
