{% extends "base.html"%}
{% block title %}User Page{% endblock %}
{% block scripts %}
<script src="{{url_for('mhreader.static', filename='mhreader.js')}}"></script>
<script src="{{url_for('mhreader.static', filename='users.js')}}"></script>


<!--<link rel="stylesheet" href="{{url_for('mhreader.static', filename='radar-chart.css')}}"/>-->
{% endblock %}
{% block page_title%} User Page {% endblock %}
{% block body %}
<input type="hidden" id="mhreader-add-new-user-url" value="{{url_for('mhreader.add_user')}}"/>
<input type="hidden" id="mhreader-get-user-url" value="{{url_for('mhreader.get_user')}}"/>
<input type="hidden" id="mhreader-get-users-url" value="{{url_for('mhreader.get_users')}}"/>
<input type="hidden" id="mhreader-delete-user-url" value="{{url_for('mhreader.delete_user')}}"/>
<input type="hidden" id="mhreader-get-experiment-sets-url" value="{{url_for('mhreader.get_experiment_set')}}"/>
<input type="hidden" id="mhreader-create-expriment-url" value="{{url_for('mhreader.create_experiment')}}"/>
<input type="hidden" id="mhreader-get-user-expriments-url" value="{{url_for('mhreader.get_experiment')}}"/>
<input type="hidden" id="mhreader-load-user-expriment-page-url" value="{{url_for('mhreader.load_experiment_page')}}"/>

<div id="users-header">
    
    
  
    
</div>

<div id="user-list"></div>

{% endblock %}
