<div class="panel-default">
    <div class="panel-heading">User list 
        <input type="button" id="show-add-new-user-form" class="btn btn-sm  btn-primary" value="New User" onclick="showAddNewUserForm()">
    </div>
    <div class="panel-body">
        <table class="table">

            <tr><td>ID</td><td>Username</td><td>Age</td><td>Gender</td><td>Information</td><td>Experiments</td><td></td></tr>
            <% _.each(users, function(user){%>
            <tr><td><%=user.id%></td>
                <td><%=user.name%></td>
                <td><%=user.age%></td>
                <td><%=user.gender%></td>
                <td><%=user.description%></td>
                <td>

                    <% _.each(user.experiments, function(experiment) {%>
                    <%my_exp = _.filter(experiments, function(exp){ return exp.experiment.id == experiment.id; })[0];
                    %>
                    <input type="button" class="btn experiment-btn" value="<%=experiment.title%>" 
                           data-experiment-id="<%=experiment.id%>" onclick="loadUserExperimentPage(<%=experiment.id%>)"/> 
                   <%})%>
                </td>
                <td>
                    <input type="button" class="btn btn-sm btn-danger" value="Dalete" onclick="deleteUser( <%= user.id %> )">
                    <input type="button" class="btn btn-sm btn-success" value="Create Experiment" onclick="showCreateUserExperimentForm( <%= user.id %> )">
                </td>
            </tr>
            <%})%>

        </table>
    </div>
</div>
