<!DOCTYPE html>

<html>
    <head>
        {% block head %} {% endblock %}
        <title>{% block title %}{% endblock %} - MindHeart Reader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="{{ url_for('static',
            filename='_css/custom_styles.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static',
            filename='_css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='_js/jquery-2.1.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/d3.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/underscore-min.js')}}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>

        <input type="hidden" id="mhreader-templates-url" value="{{url_for('mhreader.static', filename='templates')}}"/>

        <div id="container">
            <div id="mhr-header">
                <h1> MindHeart Reader - {% block page_title %}{% endblock %}</h1>
                <nav class="navbar navbar-default navbar-top" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{url_for('mhreader.show_user_page')}}">User Admin</a></li>
                                <li class="active"><a href="{{url_for('mhreader.home_page')}}">Mindwave Client</a></li>
                                <li class="active"><a href="{{url_for('mhreader.get_data_dump')}}">Dump Data</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            {% block body %}{% endblock %}
            <div class='popup-form' >
                <div class="popup-form-content">

                </div>
            </div>
            <div class="error-form" onclick="hideErrorPanel()">
                <div id='error-panel' class='error-form-content panel panel-default' >
                    <div class='error-form-heading panel-heading'>ERROR</div>
                    <div class='error-form-body panel-body'>

                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
